@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Domain.DTO.FrontEnd.ConfiguracaoOmieEtapa2DTO

@{
    ViewData["Title"] = "Configuração Omie";
}


<div class="card text-center">
    <div class="card-header">
        OMIE
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <form asp-action="OmieEtapa2">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group row">
                        <label asp-for="CodCategoria" class="control-label col-sm-3 col-form-label">Categoria (Tipo de Venda) </label>
                        <div class="col-sm-9">
                          
                            @Html.DropDownListFor(model => model.CodCategoria, (SelectList)ViewBag.Categoria, "Selecione...", new { @class = "form-control" })

                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="CodLocalEstoque" class="control-label col-sm-3 col-form-label">Local de Estoque Padrão</label>
                        <div class="col-sm-9">
                          
                            @Html.DropDownListFor(model => model.CodLocalEstoque, (SelectList)ViewBag.LocalEstoque, "Selecione...", new { @class = "form-control" })

                        </div>
                    </div>

                      <div class="form-group row">
                        <label class="control-label col-sm-3 col-form-label">Valor Parcela Boleto</label>
                        <div class="col-sm-9">
                                
                            <input asp-for="ValorParcelaBoleto" value="@ViewBag.ValorParcelaBoleto" type="text" class="form-control" placeholder="Valor Parcela Boleto" required />
                            <span asp-validation-for="ValorParcelaBoleto" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label  class="control-label col-sm-3 col-form-label">Valor Frete</label>
                        <div class="col-sm-9">

                            <input asp-for="ValorFrete" type="text" value="@ViewBag.ValorFrete" class="form-control" placeholder="Valor Frete" required />
                            <span asp-validation-for="ValorFrete" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group col-12">
                        <label class="h3">Comparar Status dos pedidos</label>
                        <hr>
                    </div>

                    <table class="table table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th>Status Omie</th>
                                <th>Status Maxima</th>
                            </tr>
                        </thead>
                        <tbody>

                            @{
                                int position = 0;
                                @foreach (var item in @ViewBag.EtapaOmie)
                                {
                                    <input value="@item.Key" type="hidden" asp-for="CodEtapaOmie[position]">

                                    <tr>
                                        <td>
                                            <b> @item.Key - @item.Value </b>
                                        </td>
                                        <td>
                                            <select required="required" asp-items="@item.EtapasMaxima" asp-for="CodEtapaMaxima[position]"
                                            class="form-control text-center mb-2">
                                                <option selected disabled> Selecione... </option>
                                            </select>
                                        </td>
                                    </tr>
                                    position++;
                                }
                            }

                        </tbody>
                    </table>

                    <div class="form-group col-12">
                        <input type="submit" value="Proximo" class="btn btn-primary  col-12" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
